* {
  margin: 0;
}
body {
  height: 1000px;
  background-image: url(https://img.freepik.com/premium-vector/space-background-with-stars-vector-illustration_97886-319.jpg?w=1380);
  background-size: cover;
  font-family: 'Rubik Bubbles', cursive;
}

.user-interface {
  display: flex;
  justify-content: center;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 1px;
  font-family: 'Rubik Bubbles';
  padding: 5px;
}
#startBtn {
  margin-right: 10px;
}
#randomix {
}
.lives-link {
  color: white;
  display: flex;
  align-items: center;
}
#user-lives {
  display: flex;
  align-items: center;
}
#easy:hover {
  color: rgb(7, 206, 7);
  background-color: transparent;
}
#medium:hover {
  color: orange;
  background-color: transparent;
}
#hard:hover {
  color: red;
  background-color: transparent;
}

.score-link {
  color: white;
}
.gui {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid white 1px;
  border-radius: 5px;
  top: 25%;
  background-color: transparent;
  left: 50%;

  transform: translateX(-50%);
}
.block {
  position: absolute;
  width: 100px;
  height: 20px;
  border: solid black 1px;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  border: solid black 1px;
  background-color: purple;
  border-radius: 5px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
  border: black 1px solid;
}

.heart {
  width: 10px;
  height: 10px;
  background-color: red;
  margin-right: 10px;
  margin-left: 10px;
}

.version {
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
#score {
  color: white;
}
.grid-wrapper {
}
.information {
  color: white;
  position: absolute;
}
